---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import HPTypography from "@components/HPTypography.astro";
import Layout from "@layouts/Layout.astro";
import Year from "@components/Year.astro";

export function getStaticPaths() {
  return [{ params: { locale: "bg" } }, { params: { locale: "en" } }];
}

const locale = getLangFromUrl(Astro.url);
const t = useTranslations(locale);

const year = new Date().getFullYear();
---

<Layout
  title={`${t("GLOBAL.PROJECT_NAME")} - ${year} ${t("PAGES.THIS_YEAR.TITLE")}`}
>
  <h1 hidden>{year} - {t("PAGES.THIS_YEAR.TITLE")}</h1>

  <Year year={year}>
    <HPTypography disableMarginBottom slot="year" element="h2" appearance="h3">
      {year}
    </HPTypography>

    <HPTypography disableMarginBottom slot="title" element="h2" appearance="h1">
      {t("PAGES.THIS_YEAR.TITLE")}
    </HPTypography>
  </Year>
</Layout>
