---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Почивник">
  <h1><span class="text-gradient">Почивник</span> - Очаквайте скоро</h1>
  <a href="/holiday-planner/this-year">2023</a>
</Layout>
