---
import Layout from '../layouts/Layout.astro';
import Typography from '../components/Typography.astro';
---

<Layout title="Почивник">
  <Typography element="h1" appearance="h1">Начало</Typography>
  <a href={`${import.meta.env.BASE_URL}this-year`} rel="prefetch">Към текущата година</a>
</Layout>
