---
import i18next, { changeLanguage, t } from "i18next";
import Layout from "@layouts/Layout.astro";
import Link from "@components/Link.astro";
import { HPEventList } from "@components/hp-event-list";
import { HPTypography } from "@components/hp-typography";
import getCalendarEvents from "@data/get-calendar-events";

changeLanguage("bg");

const currentYear = new Date().getFullYear();
const { data, error } = await getCalendarEvents({
    fromYear: currentYear,
    toYear: currentYear + 1,
    locale: i18next.language,
});
---
<Layout title={`${t('GLOBAL.PROJECT_NAME')} - ${t('PAGES.HOME.TITLE')}`}>
  <HPTypography element="h2" appearance="h1">{t('PAGES.HOME.TITLE')}</HPTypography>

  <section class="section">
    <div class="pad">
      <HPTypography element="h2" appearance="h4" font="primary" lineHeight="1.2">{t('PAGES.HOME.INTRO.TITLE')}</HPTypography>

      <HPTypography element="p" appearance="p" font="primary">{t('PAGES.HOME.INTRO.DESCRIPTION')}</HPTypography>

      <Link accent href="/this-year/" className="pad-link">{t('PAGES.HOME.INTRO.TO_THIS_YEAR')}</Link>
    </div>
  </section>

  <section class="section">
    <HPTypography element="h3" appearance="h3">{t('PAGES.HOME.SECTION_THIS_MONTH.TITLE')}</HPTypography>

    <HPEventList
      client:load
      index={new Date().getMonth()}
      year={currentYear}
      data={data}
      class="pad"
    >
      <HPTypography slot="fallback" disableMarginBottom>:(</HPTypography>
    </HPEventList>
  </section>
</Layout>

<style>
  .section {
    margin: 0 0 var(--space-size-600);
  }

  .pad {
    border-radius: var(--space-size-200);
    padding: var(--space-size-400);
    background: var(--block-pad-background);
    color: var(--block-pad-color);
  }
</style>
