---
import Layout from '../layouts/Layout.astro';
import Typography from '../components/Typography.astro';
import Link from '../components/Link.astro';
---

<Layout title="Почивник">
  <Typography element="h2" appearance="h1">Начало</Typography>

  <div class="section">
    <div class="pad">
      <Typography element="p" appearance="h4" font="primary" className="pad-text">Почивник те приближава с крачка по-близо до мечтаната ваканция.</Typography>

      <Typography element="p" appearance="p" font="primary" className="pad-text">Той е инструмент, който ти позволява да разгледаш всички официални празници през годината, за да можеш по-лесно да планираш своите почивни дни.</Typography>

      <Link href="/this-year" className="pad-link">Към тази година</Link>
    </div>
  </div>
</Layout>

<style>
  .section {
    margin: var(--space-size-x2) 0;
  }

  .pad {
    border-radius: var(--space-size);
    padding: var(--space-size-x2);
    background: var(--palette-complimentary);
    color: var(--palette-dominant);
    line-height: 1.3;
  }

  .pad-text {
    line-height: 1.2;
  }

  .pad-link {
    color: var(--palette-dominant);
  }

  .pad-link:hover {
    color: var(--palette-accent);
  }
</style>
