---
import i18next, { changeLanguage, t } from "i18next";
import { HPTypography } from "@components/hp-typography";
import Layout from "@layouts/Layout.astro";
import Year from "@components/Year.astro";

changeLanguage("bg");

const year = new Date().getFullYear();
---
<Layout title={`${t('GLOBAL.PROJECT_NAME')} - ${year} ${t('PAGES.THIS_YEAR.TITLE')}`}>
  <h1 hidden>{year} - {t('PAGES.THIS_YEAR.TITLE')}</h1>

  <Year year={year}>
    <HPTypography client:visible disableMarginBottom slot="year" element="h2" appearance="h3">{year}</HPTypography>

    <HPTypography client:visible disableMarginBottom slot="title" element="h2" appearance="h1">{t('PAGES.THIS_YEAR.TITLE')}</HPTypography>
  </Year>
</Layout>
