---
import Layout from '../layouts/Layout.astro';
import { HPCurrentYear } from '../components/hp-current-year.js';
---

<Layout title="Тази година">
  <h1><HPCurrentYear client:only /> Тази година</h1>

  <a href="/holiday-planner/" rel="prefetch">Към начало</a>
</Layout>

<style>
  hp-current-year {
    --hp-current-year-background-image: var(--accent-gradient);
  }
</style>
