---
import type { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"button"> {
  class?: string;
  variant?: "primary" | "secondary";
}

const { class: className, variant = "primary", ...rest } = Astro.props;
---

<button {...rest} class:list={["button", variant, className]}>
  <slot />
</button>

<style>
  .button {
    border: 0;
    padding: var(--theme-space-button-y) var(--theme-space-button-x);
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    transition: background-color var(--theme-transition-duration-base) ease;
  }

  .button.primary {
    background-color: var(--theme-palette-primary);
    color: var(--theme-palette-primary-contrast);
  }

  .button.secondary {
    background-color: var(--theme-palette-secondary);
    color: var(--theme-palette-secondary-contrast);
  }

  .button[hidden] {
    display: none;
  }
</style>
