---
import { generateLink, getLangFromUrl } from "@i18n/utils";

export interface Props {
  class?: string;
}

const { class: className, ...rest } = Astro.props;
const locale = getLangFromUrl(Astro.url);
---

{
  locale !== "bg" && (
    <a
      {...rest}
      href={generateLink("bg", "/")}
      class:list={["root", className]}
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
        <path fill="#439571" d="M1 11h30v10H1z" />
        <path
          fill="#fff"
          d="M5 4h22c2.208 0 4 1.792 4 4v4H1V8c0-2.208 1.792-4 4-4Z"
        />
        <path
          fill="#c63621"
          d="M27 28H5c-2.208 0-4-1.792-4-4v-4h30v4c0 2.208-1.792 4-4 4Z"
        />
        <path
          d="M27 4H5a4 4 0 0 0-4 4v16a4 4 0 0 0 4 4h22a4 4 0 0 0 4-4V8a4 4 0 0 0-4-4Zm3 20c0 1.654-1.346 3-3 3H5c-1.654 0-3-1.346-3-3V8c0-1.654 1.346-3 3-3h22c1.654 0 3 1.346 3 3v16Z"
          opacity=".15"
        />
        <path
          fill="#fff"
          d="M27 5H5a3 3 0 0 0-3 3v1a3 3 0 0 1 3-3h22a3 3 0 0 1 3 3V8a3 3 0 0 0-3-3Z"
          opacity=".2"
        />
      </svg>
    </a>
  )
}

{
  locale !== "en" && (
    <a
      {...rest}
      href={generateLink("en", "/")}
      class:list={["root", className]}
    >
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
        <rect width="30" height="24" x="1" y="4" fill="#fff" rx="4" ry="4" />
        <path
          fill="#a62842"
          d="M1.638 5.846h28.724A3.988 3.988 0 0 0 27 4H5a3.99 3.99 0 0 0-3.362 1.846ZM2.03 7.692C2.022 7.795 2 7.894 2 8v1.539h29V8c0-.105-.022-.204-.03-.308H2.03ZM2 11.385h29v1.846H2zM2 15.077h29v1.846H2zM1 18.769h30v1.846H1zM1 24c0 .105.023.204.031.308h29.938c.008-.103.031-.202.031-.308v-1.539H1V24ZM30.362 26.154H1.638A3.988 3.988 0 0 0 5 28h22a3.99 3.99 0 0 0 3.362-1.846Z"
        />
        <path fill="#102d5e" d="M5 4h11v12.923H1V8c0-2.208 1.792-4 4-4Z" />
        <path
          d="M27 4H5a4 4 0 0 0-4 4v16a4 4 0 0 0 4 4h22a4 4 0 0 0 4-4V8a4 4 0 0 0-4-4Zm3 20c0 1.654-1.346 3-3 3H5c-1.654 0-3-1.346-3-3V8c0-1.654 1.346-3 3-3h22c1.654 0 3 1.346 3 3v16Z"
          opacity=".15"
        />
        <path
          fill="#fff"
          d="M27 5H5a3 3 0 0 0-3 3v1a3 3 0 0 1 3-3h22a3 3 0 0 1 3 3V8a3 3 0 0 0-3-3Z"
          opacity=".2"
        />
        <path
          fill="#fff"
          d="m4.601 7.463.592-.43h-.731l-.226-.695-.226.695h-.731l.591.43-.226.695.592-.429.591.429-.226-.695zM7.58 7.463l.592-.43h-.731l-.226-.695-.226.695h-.731l.591.43-.226.695.592-.429.591.429-.226-.695zM10.56 7.463l.591-.43h-.731l-.226-.695-.226.695h-.731l.591.43-.225.695.591-.429.591.429-.225-.695zM6.066 9.283l.592-.429h-.731l-.226-.696-.226.696h-.731l.591.429-.226.696.592-.43.591.43-.226-.696zM9.046 9.283l.591-.429h-.731l-.226-.696-.226.696h-.731l.591.429-.225.696.591-.43.591.43-.225-.696zM12.025 9.283l.591-.429h-.731l-.226-.696-.226.696h-.731l.592.429-.226.696.591-.43.592.43-.226-.696zM6.066 12.924l.592-.43h-.731l-.226-.695-.226.695h-.731l.591.43-.226.695.592-.429.591.429-.226-.695zM9.046 12.924l.591-.43h-.731l-.226-.695-.226.695h-.731l.591.43-.225.695.591-.429.591.429-.225-.695zM12.025 12.924l.591-.43h-.731l-.226-.695-.226.695h-.731l.592.43-.226.695.591-.429.592.429-.226-.695zM13.539 7.463l.591-.43h-.731l-.226-.695-.226.695h-.731l.592.43-.226.695.591-.429.592.429-.226-.695zM4.601 11.104l.592-.43h-.731l-.226-.695-.226.695h-.731l.591.43-.226.695.592-.43.591.43-.226-.695zM7.58 11.104l.592-.43h-.731l-.226-.695-.226.695h-.731l.591.43-.226.695.592-.43.591.43-.226-.695zM10.56 11.104l.591-.43h-.731l-.226-.695-.226.695h-.731l.591.43-.225.695.591-.43.591.43-.225-.695zM13.539 11.104l.591-.43h-.731l-.226-.695-.226.695h-.731l.592.43-.226.695.591-.43.592.43-.226-.695zM4.601 14.744l.592-.429h-.731l-.226-.696-.226.696h-.731l.591.429-.226.696.592-.43.591.43-.226-.696zM7.58 14.744l.592-.429h-.731l-.226-.696-.226.696h-.731l.591.429-.226.696.592-.43.591.43-.226-.696zM10.56 14.744l.591-.429h-.731l-.226-.696-.226.696h-.731l.591.429-.225.696.591-.43.591.43-.225-.696zM13.539 14.744l.591-.429h-.731l-.226-.696-.226.696h-.731l.592.429-.226.696.591-.43.592.43-.226-.696z"
        />
      </svg>
    </a>
  )
}

<style>
  a {
    display: inline-flex;
    font-size: 1.5rem;
    line-height: 1;
    text-decoration: none;
  }

  a svg {
    width: 1em;
    height: 1em;
  }
</style>
