---
import { localizePath } from 'astro-i18next';

export interface Props {
  href: string;
  accent: boolean,
  className?: string,
};

const {
  href,
  accent,
  className,
} = Astro.props;
---
<a href={localizePath(href)} rel="prefetch" class:list={['root', accent && 'accent', className]}>
  <slot />
</a>

<style>
  .root {
    color: var(--palette-primary);
    transition: all 0.3s ease;
  }

  .root:hover {
    text-decoration: none;
  }

  .root.accent {
    color: var(--palette-accent);
  }
</style>
