---
import { getLangFromUrl, generateLink } from "@i18n/utils";

export interface Props {
  href: string;
  accent?: boolean;
  asButton?: boolean;
  class?: string;
}

const { href, accent, asButton, class: className, ...rest } = Astro.props;
const locale = getLangFromUrl(Astro.url);
---

<a
  {...rest}
  href={generateLink(locale, href)}
  rel="prefetch"
  class:list={["root", accent && "accent", asButton && "as-button", className]}
  data-astro-prefetch="viewport"
>
  <span><slot /></span>
</a>

<style
  define:vars={{
    "mask-scribble": `url(${import.meta.env.BASE_URL}mask-scribble.png)`,
  }}
>
  .root {
    position: relative;
    z-index: 1;
    font-size: var(--font-size-link);
    color: var(--palette-primary-contrast);
    font-weight: 500;
    text-decoration: underline;
    text-decoration-style: double;
    transition: all 0.3s ease;
  }

  .root:hover {
    text-decoration: none;
  }

  .root.accent {
    color: var(--palette-accent);
  }

  .as-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--palette-primary);
    mask-image: var(--mask-scribble);
    mask-position: 50%;
    mask-size: 100% 100%;
  }
</style>
