---
import { getLangFromUrl, generateLink } from "@i18n/utils";

export interface Props {
  href: string;
  accent?: boolean;
  class?: string;
}

const { href, accent, class: className, ...rest } = Astro.props;
const locale = getLangFromUrl(Astro.url);
---

<a
  {...rest}
  href={generateLink(locale, href)}
  rel="prefetch"
  class:list={["root", accent && "accent", className]}
  data-astro-prefetch="viewport"
>
  <slot />
</a>

<style>
  .root {
    color: var(--palette-primary);
    transition: all 0.3s ease;
  }

  .root:hover {
    text-decoration: none;
  }

  .root.accent {
    color: var(--palette-accent);
  }
</style>
