---
import { t } from 'i18next';
import Link from '@components/Link.astro';

export interface Props {
  element?: string;
  appearance?: 'h1' | 'h2' | 'h3' | 'h4' | 'p';
  font?: 'primary' | 'secondary';
  className?: string,
};

const {
  element = 'p',
  appearance = 'p',
  font,
  className,
} = Astro.props;
---
<nav class:list={[className]}>
  <ul>
    <li>
      <Link href="/" className="menu-link">{t('PAGES.HOME.TITLE')}</Link>
    </li>
    <li>
      <Link href="/this-year/" className="menu-link">{t('PAGES.THIS_YEAR.TITLE')}</Link>
    </li>
    <li>
      <Link href="/next-year/" className="menu-link">{t('PAGES.NEXT_YEAR.TITLE')}</Link>
    </li>
  </ul>
</nav>

<style>
  nav {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    border-top: var(--space-size-100) solid var(--palette-primary);
    overflow: auto;
    padding: var(--space-size-400) 0;
    background-color: var(--palette-secondary);
  }

  nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
  }

  nav li .menu-link {
    display: block;
    padding: var(--space-size-200) var(--space-size-400);
    margin: 0 var(--space-size-100);
    border-width: 0 0 var(--space-size-100) 0;
    border-style: solid;
    border-color: transparent;
    color: var(--palette-dominant-contrast);
    text-decoration: none;
    text-wrap: nowrap;
  }

  nav .active.menu-link,
  nav li:hover .menu-link {
    color: var(--palette-primary);
    border-color: var(--palette-primary);
  }

  @media (min-width: 1200px) {
    nav {
      position: relative;
      width: auto;
      border: 0;
      background-color: transparent;
      padding: var(--space-size-200);
    }

    nav ul {
      flex-wrap: wrap;
    }
  }
</style>

<script>
  const navLinks = document.querySelectorAll('nav a');

  navLinks.forEach((link) => {
    link.classList.remove('active');

    const currentPath = window.location.pathname.replace('/holiday-planner', '');

    // `link.href` returns a whole url, such as: 'https://somedomain.com/posts/' and we only need the last part
    const hrefArray = link.href.split('/holiday-planner');
    const thisPath = hrefArray[hrefArray.length - 1];

    if (currentPath === thisPath) {
      link.classList.add('active');
    }
  });
</script>
