---
import { t } from 'i18next';
import { LanguageSelector } from 'astro-i18next/components';
import App from '@components/App.astro';
import MainMenuDesktop from '@components/MainMenuDesktop.astro';
import { HPTypography } from '@components/hp-typography';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---
<App title={title}>
  <header>
    <figure class="logo">
      <img
        src={`${import.meta.env.BASE_URL}logo.svg`}
        alt="logo"
        width="64"
        height="64"
        />

        <div>
          <HPTypography element="h1" appearance="h2" disableMarginBottom>
            <span class="accent">{t('GLOBAL.PROJECT_NAME')}</span>
          </HPTypography>

          <HPTypography element="small" disableMarginBottom>{t('GLOBAL.WIP')}</HPTypography>
        </div>
    </figure>

    <MainMenuDesktop className="menu" />

    <LanguageSelector showFlag={true} class="menu-languages" />
  </header>

  <main>
    <div class="wrapper">
      <slot />
    </div>
  </main>
</App>

<style>
  header {
    padding: var(--space-size-200);
  }

  @media (min-width: 750px) {
    header {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: var(--space-size-200);
  }

  .logo img {
    width: 64px;
    margin-right: 10px;
    flex: 0 0 auto;
  }

  .menu {
    margin-bottom: var(--space-size-200);
  }

  @media (min-width: 750px) {
    .menu {
      margin-bottom: 0;
    }
  }

  .menu-languages {
    border: 1px solid var(--palette-primary);
    border-radius: var(--space-size-200);
    padding: var(--space-size-200);
    margin: var(--space-size-200);
  }

  @media (min-width: 750px) {
    .menu-languages {
      margin-left: auto;
    }
  }

  main {
    padding: 1.5rem 0;
  }

  .wrapper {
    max-width: 100%;
    padding: 0 var(--space-size-200);
    margin: 0 auto;
  }

  @media (min-width: 1200px) {
    .wrapper {
      width: 1200px;
    }
  }
</style>
