---
import App from '../components/App.astro';
import MainMenuDesktop from '../components/MainMenuDesktop.astro';
import { HPTypography } from '../components/hp-typography';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---
<App title={title}>
  <header>
    <figure class="logo">
      <img
        src={`${import.meta.env.BASE_URL}logo.svg`}
        alt="logo"
        width="80"
        height="80"
        />

        <div>
          <HPTypography element="h1" appearance="h1" disableMarginBottom>
            <span class="accent">Почивник</span>
          </HPTypography>

          <HPTypography disableMarginBottom>[в процес на изграждане]</HPTypography>
        </div>
    </figure>

    <MainMenuDesktop className="menu" />
  </header>

  <main>
    <div class="wrapper">
      <slot />
    </div>
  </main>
</App>

<style>
  header {
    padding: var(--space-size);
  }

  @media (min-width: 700px) {
    header {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: var(--space-size);
  }

  .logo img {
    width: 80px;
    flex: 0 0 auto;
  }

  @media (min-width: 700px) {
    .menu {
      margin-left: auto;
    }
  }

  main {
    padding: 1.5rem 0;
  }

  .wrapper {
    max-width: 100%;
    padding: 0 var(--space-size);
    margin: 0 auto;
  }

  @media (min-width: 1200px) {
    .wrapper {
      width: 1200px;
    }
  }
</style>
